<html lang="en">

  <head>

    <style>

      body { background-image: url('/images/background.png'); background-size:
      100%; background-repeat: no-repeat; }

    </style>

  </head>

  <body>

  </body>

</html>

<div>
  <div>
    <div>

      <h1>Movies Land!</h1>

      <p>the info about your favorite movies and celebrities</p>

      <a href="/celebrities">All celebrities</a>

    </div>
  </div>
</div>